<ion-header>
  <ion-toolbar>
    <ion-title>Pagina no encontrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="assets/img/404.jpg" />
    <ion-card-header>
      <ion-card-title>Vuelve a logear</ion-card-title>
      <ion-card-subtitle>No tienes permisos para acceder</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-button color="dark" shape="round" routerLink="/login" expand="block">Login</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
