<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>SkeletonAPP</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="datos" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="datos">
        <ion-icon name="person"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="experiencia">
        <ion-icon name="briefcase"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="certificaciones">
        <ion-icon name="library"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>